.user-cart {
  width: 350px;
  border: 0;
}

.body-container {
  background-color: #ececec;
}
.body-container:hover {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.body-container p {
  margin: 0;
  font-size: 17px;
}
.card-img {
  height: 60px;
  width: 60px;
  border: 5px solid #fff;
  object-fit: cover;
  border-radius: 50%;
}
.body-container:hover .card-img {
  border: 5px solid #2ecc71;
}

.full-star {
  color: yellow;
}
