.user-cart {
  width: 350px;
  border: 0;
}
.body-container {
  background-color: #ececec;
}
.body-container p {
  margin: 0;
  font-size: 17px;
}
.card-img {
  height: 60px;
  width: 60px;
  border: 5px solid #fff;
  object-fit: cover;
  border-radius: 50%;
}
.full-star {
  color: red;
}
.half-star {
  color: yellow;
}
